@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Economica|Lato&display=swap');
  *{
    margin: 0;
    padding:0;
    outline:0;
    box-sizing: border-box;
  }
  html, border-style, #root {
    height: 100%;
  } 
  body{
    font: 14px 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    -webkit-font-smoothing: antaliased !important;
  }
  ul{
    list-style: none;
  }